# ===============================
# Environment variables (SECRETS)
# ===============================
.env

# ===============================
# Uploaded & Encrypted Files
# ===============================
uploads/
*.enc

# ===============================
# Python Cache Files
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Virtual Environment
# ===============================
venv/
env/

# ===============================
# OS / Editor Files
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Temporary Files
# ===============================
*.tmp
*.log
